jwt:
  expiration_time: 86400000
  secret: assssssssssdasfjashfasjhfasfjasgfaskfjasfkasfhjqwuiryqwlkrfsssssssssssssssssasdasdasdasdasdasdasxnvbasdkasjd

google:
  client:
    id: id
    secret: secret
  redirect:
    uri: url

spring:
  sql:
    init:
      mode: always
  application:
    name: blog
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
    generate-ddl: true
  h2:
    console:
      enabled: true
      path: /h2

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/test
    username: sa
    password:

logging:
  level:
    org:
      springframework:
        web: DEBUG
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE